@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading__spinner {
    width: 25px;
    height: 25px;
    border: 5px solid var(--color-secondary-light);
    border-top: 5px solid var(--color-background); /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }